ul li{list-style: none;}
a{text-decoration: none;}
.list{width:960px;height:auto;margin:0 auto;}
.list ul li{ float: left;margin:10px;}
.list ul li a{ font-size: 14px;color:#666;text-align: center;}
.list ul li a:hover{color:#e00;}
